sources:
  c:/ebextentions/tag-instance-with-instance-id: https://s3-us-west-2.amazonaws.com/opus-ops-us-west-2/tag-instance-with-instance-id.zip
container_commands:
  tag-instance-with-instance-id:
    command: powershell.exe -ExecutionPolicy Bypass -File "C:\\ebextentions\\tag-instance-with-instance-id\\tag-instance-with-instance-id.ps1"