<?xml version="1.0"?>
<configuration>
	<appSettings>
    <!--
    <add key="AWSProfileName" value="BHardister VolusionPlatform NonProd"/>
		<add key="AWSRegion" value="us-west-2" />
    <add key="NewRelic.AppName" value="devops-demo-dotnet"/>
    -->
	</appSettings>
	<system.web>
    <customErrors mode="Off"/>
		<!-- 
			Set compilation debug="true" to insert debugging 
			symbols into the compiled page. Because this 
			affects performance, set this value to true only 
			during development.
		-->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
			The <authentication> section enables configuration 
			of the security authentication mode used by 
			ASP.NET to identify an incoming user. 
		-->
		<authentication mode="None"/>
		<!--
			The <customErrors> section enables configuration 
			of what to do if/when an unhandled error occurs 
			during the execution of a request. Specifically, 
			it enables developers to configure html error pages 
			to be displayed in place of a error stack trace.

			<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
				<error statusCode="403" redirect="NoAccess.htm" />
				<error statusCode="404" redirect="FileNotFound.htm" />
			</customErrors>
		-->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <security>
      <ipSecurity  allowUnlisted="false" denyAction="Unauthorized">
        <!-- this line blocks everybody, except those listed below -->
        <clear/>                                              <!-- removes all upstream restrictions -->
        <add ipAddress="127.0.0.1" allowed="true"/>           <!-- allow requests from the local machine -->
        <add ipAddress="108.178.124.2" allowed="true"/>       <!-- allow the specific IP of 108.178.124.2 (Austin Office)  -->
        <add ipAddress="65.23.120.116" allowed="true"/>       <!-- allow the specific IP of 65.23.120.116 (Birmingham Office)  -->
        <add ipAddress="65.23.120.119" allowed="true"/>       <!-- allow the specific IP of 65.23.120.119 (EP VPN)  -->
        <add ipAddress="70.112.196.104" allowed="true"/>      <!-- allow the specific IP of 70.112.196.104 (Bob's House)  -->
      </ipSecurity>
    </security>
    <rewrite>
      <rules>
        <rule name="RewriteASPX">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}.aspx" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
	<!-- 
		The system.webServer section is required for running ASP.NET AJAX under Internet
		Information Services 7.0.  It is not necessary for previous version of IIS.
	-->
</configuration>
